<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ingot.icab-watchdog</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/autolaunch.sh</string>
    </array>

    <!-- Run every hour -->
    <key>StartInterval</key>
    <integer>600</integer>

    <key>StandardOutPath</key>
    <string>/var/log/icab-watchdog.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/icab-watchdog-error.log</string>
</dict>
</plist>