<title>Guest Room</title>
<link rel="stylesheet" href="/static/bathroom_960x640.css" />
{% extends "rooms/base.html" %}
{% import "components/buttons/modal_buttons.html" as modal_buttons %}
{% import "components/buttons/temp_tile_button.html" as temp_tile_buttons %}
{% import "components/text_blocks.html" as text_blocks %}

{% block content %}
<tr>
  <td colspan="3">
    <button class="clock-container" type="button">
      <h1 id="clock" aria-live="polite">-</h1>
    </button>
  </td>
</tr>
<tr>
   <td>{{ temp_tile_buttons.outside_temp(outside_temps) }}</td>
   <td>{{ temp_tile_buttons.eloise_temp(eloise_temp) }}</td>
   <td>{{ api_call_buttons.inside_soil_moisture(plants) }}</td>
</tr>
{% endblock %}