<title>Living Room</title>
<link rel="stylesheet" href="/static/guest_room_960x640.css?v=20260814-message-modal" />
{% extends "rooms/base.html" %}
{% import "components/buttons/api_call_buttons.html" as api_call_buttons %}
{% import "components/buttons/modal_button.html" as modal_button %}
{% import "components/buttons/temp_tile_button.html" as temp_tile_buttons %}
{% from "components/modal.html" import confirmation_modal, text_input_confirmation_modal, info_modal %}
{% block content %}
<tr>
  <td colspan="3">
    <button
      class="message-container"
      type="button"
      data-modal-open="guest-room-message"
    >
      <span
        class="guest-room-message"
        data-ha-entity="input_text.ingot_guest_room_message"
        data-ha-state-text
        aria-live="polite"
      ></span>
    </button>
  </td>
</tr>
<tr>
    <td>
    {{ temp_tile_buttons.temp_tile_button(
      "/static/ios/blank_nord2.png",
      "Outside Temperature",
      "Today",
      "outside-temp-number",
      (home_assistant_states.get("weather.forecast_home", {}).get("attributes", {}).get("temperature") | float | round | int)
    ) }}
  </td>
   <td>{{ api_call_buttons.libbys_office_lights_toggle() }}</td>
   <td>{{ modal_button.modal_button(
        "/static/ios/question_mark.png",
        "Help",
        "Help",
        "help-guest-room",
        "help-guest-room"
        )}}
  </td>
</tr>
{% endblock %}

{% block modals %}
{{ confirmation_modal(
  "help-guest-room",
  "Welcome!",
  "• <- Phone chargers are on the left.<br>\
   • Outlets are below this table.<br>\
   • WiFi: <b>Netscape Navigator</b><br>\
   • password: <b>donkdonkdonk</b><br>\
   • Thanks for staying!
  ",
  "",
  "Tom is Cool",
  "Tom is Smart",
  "",
  modal_class="help-guest-room"
) }}

{{ text_input_confirmation_modal(
  "guest-room-message",
  "",
  "Set Message",
  "/set_message",
  "message",
  "Message",
  placeholder="Message",
  required=true,
  confirm_text="OK",
  entity_id="input_text.ingot_guest_room_message",
) }}
{% endblock %}
