<title>Guest Room</title>
<link rel="stylesheet" href="/static/guest_room_960x640.css" />
{% extends "rooms/base.html" %}
{% import "components/buttons/modal_buttons.html" as modal_buttons %}
{% import "components/buttons/temp_tile_button.html" as temp_tile_buttons %}
{% import "components/text_blocks.html" as text_blocks %}

{% block content %}
<tr>
  <td colspan="3">{{ text_blocks.guest_room_text_block() }}</td>
</tr>
<tr>
   <td>{{ temp_tile_buttons.outside_temp(outside_temp) }}</td>
   <td>{{ api_call_buttons.guest_room_lamp_toggle() }}</td>
   <td>{{ modal_buttons.guest_room_help_button() }}</td>
</tr>
{% endblock %}