<title>Libby's Office</title>
<link rel="stylesheet" href="/static/libbys_office.css?v=20260708-labels" />
{% extends "rooms/base.html" %}
{% import "components/buttons/api_call_buttons.html" as api_call_buttons %}
{% import "components/buttons/temp_tile_button.html" as temp_tile_buttons %}
{% block content %}
<tr>
  <td>{{ api_call_buttons.libbys_office_lights_toggle() }}</td>
  <td>{{ api_call_buttons.eloise_lamp_toggle() }}</td>
  <td>{{ api_call_buttons.vacuum_start() }}</td>
</tr>
<tr>
  <td>
    {{ temp_tile_buttons.temp_tile_button(
      "/static/ios/blank_ios_weather_blue.png",
      "Eloise's Temperature",
      "Eloise",
      "eloises-temp-number",
      (home_assistant_states.get("sensor.eloise_s_room_temp_temperature", {}).get("state") | float | round | int)
    ) }}
  </td>
  <td>
    {{ temp_tile_buttons.temp_tile_button(
      "/static/ios/blank_nord2.png",
      "Outside Temperature",
      "Today",
      "outside-temp-number",
      (home_assistant_states.get("weather.forecast_home", {}).get("attributes", {}).get("temperature") | float | round | int)
    ) }}
  </td>
  <td>{{ api_call_buttons.downstairs_toggle() }}</td>
</tr>
{% endblock %}
