<title>Libby's Office</title>
<link rel="stylesheet" href="/static/libbys_office.css"/>
{% extends "rooms/base.html" %}
{% import "components/buttons/temp_tile_button.html" as temp_tile_buttons %}

{% block content %}
<tr>
  <td>{{ api_call_buttons.libbys_office_lights_toggle() }}</td>
  <td>{{ api_call_buttons.eloise_lamp_toggle() }}</td>
  <td>{{ api_call_buttons.vacuum_start() }}</td>
</tr>
<tr>
  <td>{{ temp_tile_buttons.eloise_temp(eloise_temp) }}</td>
  <td>{{ temp_tile_buttons.outside_temp(outside_temp) }}</td>
  <td>{{ api_call_buttons.downstairs_toggle() }}</td>
</tr>
{% endblock %}