<title>Living Room</title>
<link rel="stylesheet" href="/static/living_room.css?v=20260708-labels" />
{% extends "rooms/base.html" %}
{% import "components/buttons/api_call_buttons.html" as api_call_buttons %}
{% block content %}
<tr>
  <td>{{ api_call_buttons.living_room_light() }}</td>
  <td>{{ api_call_buttons.dining_room_light() }}</td>
  <td>{{ api_call_buttons.vacuum_start() }}</td>
  <td>{{ api_call_buttons.vacuum_stop() }}</td>
</tr>
<tr>
  <td>
    <span class="temp-tile">
      <img
        src="/static/ios/blank_ios_weather_blue.png"
        alt="Eloise's Temperature"
      />
      <span class="temp-value" id="eloises-temp">
        <span class="temp-reading">
          <span class="temp-number" id="eloises-temp-number"></span>
          <span class="temp-degree">°</span>
        </span>
      </span>
    </span>
    <span class="icon-label">Eloise</span>
  </td>
  <td>{{ api_call_buttons.play_pause() }}</td>
  <td>{{ api_call_buttons.ice_maker_toggle() }}</td>
  <td>{{ api_call_buttons.downstairs_toggle() }}</td>
</tr>
{% endblock %}