<title>Office</title>
<link rel="stylesheet" href="/static/office.css?v=20260708-labels" />
{% extends "rooms/base.html" %}
{% import "components/buttons/api_call_buttons.html" as api_call_buttons %}
{% block content %}
<tr>
  <td>{{ api_call_buttons.office_lamps_toggle() }}</td>
  <td>{{ api_call_buttons.office_fans_lights_toggle() }}</td>
  <td>{{ api_call_buttons.office_fans_toggle() }}</td>
</tr>
<tr>
  <td>{{ api_call_buttons.office_ceiling_lights_toggle() }}</td>
  <td>{{ api_call_buttons.three_d_printer_toggle() }}</td>
  <td>{{ api_call_buttons.office_lights_off() }}</td>
</tr>
{% endblock %}
