<title>Office</title>
<link rel="stylesheet" href="/static/office_960x640.css?"/>
{% extends "rooms/base.html" %}
{% import "components/buttons/temp_tile_button.html" as temp_tile_buttons %}
{% import "components/buttons/modal_buttons.html" as modal_buttons %}

{% block content %}
{% for macro in macros %}
    {{ macro() }}
{% endfor %}

<tr>
  <!-- <td>{{ api_call_buttons.office_lamps_toggle() }}</td> -->
  <!-- <td>{{ api_call_buttons.office_fans_lights_toggle() }}</td>
  <td>{{ api_call_buttons.office_ceiling_lights_toggle() }}</td>
</tr>
<tr>
  <td>{{ api_call_buttons.inside_soil_moisture(plants) }}</td>
  <td>{{ modal_buttons.three_d_printer_toggle() }}</td>
  <td>{{ api_call_buttons.office_lights_off() }}</td> -->
</tr>
{% endblock %}