{% from "components/buttons/base_api_call_button.html" import api_call_button %}
{% from "components/modal.html" import confirmation_modal %}

{% macro living_room_light() %}
{{ api_call_button(
  "/living_room_toggle",
  "/static/ios/light_bulb_couch.png",
  "Living Room Toggle",
  "Living Room",
  "state-icon",
  "switch.living_room_light"
)}}
{% endmacro %}

{% macro dining_room_light() %}
{{ api_call_button(
  "/dining_room_toggle",
  "/static/ios/light_bulb_table.png",
  "Dining Room Toggle",
  "Dining Room",
  "state-icon",
  "light.dining_room_light"
)}}
{% endmacro %}

{% macro vacuum_start() %}
{{ api_call_button(
  "/vacuum_start",
  "/static/ios/vacuum_start.png",
  "Start Vacuum",
  "Start Rocky",
  "",
  "",
  true
)}}
{% endmacro %}

{% macro vacuum_stop() %}
{{ api_call_button(
  "/vacuum_stop",
  "/static/ios/vacuum_stop.png",
  "Stop Vacuum",
  "Stop Rocky",
  "",
  "",
  true
)}}
{% endmacro %}

{% macro play_pause() %}
{{ api_call_button(
  "/playpause",
  "/static/ios/tv.png",
  "Play Pause",
  "Play Pause",
  "",
  "",
  true
)}}
{% endmacro %}

{% macro ice_maker_toggle() %}
{{ api_call_button(
  "/ice_maker_toggle",
  "/static/ios/ice_maker.png",
  "Ice Maker Toggle",
  "Ice Maker",
  "state-icon",
  "switch.opal"
)}}
{% endmacro %}

{% macro downstairs_toggle() %}
{{ api_call_button(
  "/downstairs_toggle",
  "/static/ios/light_bulb_house.png",
  "Downstairs Lights Toggle",
  "Downstairs",
  "",
  "",
  true
)}}
{% endmacro %}

{% macro office_lamps_toggle() %}
{{ api_call_button(
  "/office_lamps_toggle",
  "/static/ios/lamp.png",
  "Office Lamps Toggle",
  "Lamps",
  "state-icon",
  "switch.office_lamp"
)}}
{% endmacro %}

{% macro office_fans_lights_toggle() %}
{{ api_call_button(
  "/office_fans_lights_toggle",
  "/static/ios/ceiling_light.png",
  "Office Fan Lights Toggle",
  "Overhead",
  "state-icon",
  "light.office_fan_light_west"
)}}
{% endmacro %}

{% macro office_fans_toggle() %}
{{ api_call_button(
  "/TODO",
  "/static/ios/fan.png",
  "TODO",
  "Fans"
)}}
{% endmacro %}

{% macro office_ceiling_lights_toggle() %}
{{ api_call_button(
  "/office_ceiling_lights_toggle",
  "/static/ios/light_bulb_peg_board.png",
  "Office Ceiling Lights Toggle",
  "Workshop",
  "state-icon",
  "light.office_ceiling_light_north"
)}}
{% endmacro %}

{% macro office_lights_off() %}
{{ api_call_button(
  "/office_lights_off",
  "/static/ios/light_bulb_attic.png",
  "Upstairs Lights Off",
  "Upstairs",
  "",
  "",
  true
)}}
{% endmacro %}

{% macro libbys_office_lights_toggle() %}
{{ api_call_button(
  "/libbys_office_lights_toggle",
  "/static/ios/lamp_purple.png",
  "Libbys Office Lights Toggle",
  "Lamp",
  "state-icon",
  "switch.libby_s_office_lamp"
)}}
{% endmacro %}

{% macro eloise_lamp_toggle() %}
{{ api_call_button(
  "/eloise_lamp_toggle",
  "/static/ios/lamp_pink.png",
  "Eloise Lamp Toggle",
  "Eloise",
  "state-icon",
  "switch.eloise_s_lamp"
)}}
{% endmacro %}

{% macro guest_room_lamp_toggle() %}
{{ api_call_button(
  "/guest_room_lamp_toggle",
  "/static/ios/salt_lamp.png",
  "Guest Lamp Toggle",
  "Lamp",
  "state-icon",
  "switch.guest_room_lamp"
)}}
{% endmacro %}

{% macro inside_soil_moisture(plants) %}
{{ api_call_button(
  "",
  "/static/ios/plant_" ~ plants["sensor.inside_soil_soil_moisture"]["color"] ~ ".png",
  "Inside Soil",
  "Inside Soil",
  "state-icon",
  "sensor.inside_soil_soil_moisture"
) }}
{% endmacro %}