{% from "components/modal.html" import confirmation_modal %}
{% from "components/buttons/base_modal_button.html" import modal_button %}

{% macro guest_room_help_button() %}
  {{ modal_button(
    "/static/ios/question_mark.png",
    "Help",
    "Help",
    "help-guest-room",
    "help-guest-room"
  )}}

  {{ confirmation_modal(
    "help-guest-room",
    "Welcome!",
    "• <- Phone chargers are on the left.<br>\
    • Outlets are below this table.<br>\
    • WiFi: <b>Netscape Navigator</b>. pw: <b>donkdonkdonk</b><br>\
    • Window AC unit in the main room.
    ",
    "",
    "Tom is Cool",
    "OK",
    "",
    modal_class="help-guest-room"
  ) }}
{% endmacro %}

{% macro three_d_printer_toggle() %}
<button
  class="image-button"
  type="button"
  data-modal-open="three-d-printer-confirmation"
>
  <img
    class="state-icon"
    data-ha-entity="switch.3d_printer"
    src="/static/ios/3d_printer.png"
    alt="3D Printer Toggle"
  />
  <span class="icon-label">Printer</span>
</button>
{{ confirmation_modal(
  "three-d-printer-confirmation",
  "3D Printer",
  "Toggle the printer?",
  "/3d_printer_toggle",
  "Cancel",
  "OK",
  "switch.3d_printer"
) }}
{% endmacro %}