@import url("/static/base.css");

/* Settings for iPhone 4 */
.button-grid {
    left: 15px;
    top: 25px;
}
td {
    padding: 6px 18px;
}

#clock {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin: 10px 0;
  color: #dad8d8;
}