@import url("/static/base.css");

/* Settings for iPhone 4 */
/* .button-grid {
    left: 15px;
    top: 25px;
}
td {
    padding: 6px 18px;
} */

/* Settings for iPod Touch 1/2 */
.button-grid {
    left: 3%;
}

td {
    padding: 7px 7px;
}