{% macro confirmation_modal(id, title, message, action, cancel_text="Cancel", confirm_text="OK") %}
<div id="{{ id }}" class="modal" style="display: none">
  <div class="modal-highlight-top"></div>
  <h2>{{ title }}</h2>
  <p>{{ message }}</p>
  <form action="{{ action }}" method="post" target="sink" data-modal-form>
    <div class="modal-buttons">
      <button class="modal-cancel" type="button" data-modal-close>{{ cancel_text }}</button>
      <button class="modal-confirm" type="submit">{{ confirm_text }}</button>
    </div>
  </form>
</div>
{% endmacro %}
