{% macro modal(id, title, message, action, cancel_text="Cancel", confirm_text="OK", modal_class="", show_buttons=true, entity_id="") %}
<div id="{{ id }}" class="modal{% if modal_class %} {{ modal_class }}{% endif %}" style="display: none">
  <div class="modal-highlight-top"></div>
  <h2>{{ title }}</h2>
  <p>{{ message|safe }}</p>
  <form action="{{ action }}" method="post" target="sink" data-modal-form{% if entity_id %} data-ha-entity="{{ entity_id }}"{% endif %}>
    {% if caller %}{{ caller() }}{% endif %}
    {% if show_buttons %}
      <div class="modal-buttons">
        <button class="modal-cancel" type="button" data-modal-close>{{ cancel_text }}</button>
        <button class="modal-confirm" type="submit">{{ confirm_text }}</button>
      </div>
    {% endif %}
  </form>
</div>
{% endmacro %}

{% macro confirmation_modal(id, title, message, action, cancel_text="Cancel", confirm_text="OK", entity_id="", modal_class="") %}
{% call modal(id, title, message, action, cancel_text, confirm_text, modal_class, true, entity_id) %}{% endcall %}
{% endmacro %}

{% macro text_input_confirmation_modal(id, title, message, action, input_name, input_label, placeholder="", value="", required=false, cancel_text="Cancel", confirm_text="OK", entity_id="", modal_class="") %}
{% call modal(id, title, message, action, cancel_text, confirm_text, "modal-text-input-confirmation " + modal_class, false, entity_id) %}
    <div class="modal-inline-controls">
    <input
      id="{{ id }}-{{ input_name }}"
      class="modal-text-input"
      type="text"
      name="{{ input_name }}"
      value="{{ value }}"
      placeholder="{{ placeholder }}"
      aria-label="{{ input_label }}"
      {% if entity_id %}data-ha-entity="{{ entity_id }}" data-ha-state-input{% endif %}
      {% if required %}required{% endif %}
      autofocus
    />
    {% if entity_id %}
    <input type="hidden" name="entity_id" value="{{ entity_id }}" />
    {% endif %}
    <button class="modal-cancel" type="button" data-modal-close>{{ cancel_text }}</button>
    <button class="modal-confirm" type="submit">{{ confirm_text }}</button>
    </div>
{% endcall %}
{% endmacro %}
