<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>XBrowser</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>XBrowser</key>
		<dict>
			<key>Bookmark</key>
			<data>
			xsu+VFM0taJpe2wIF/qsVpoEprIYstnzmDjEpatXVNk=
			</data>
			<key>BrowsingHistory</key>
			<data>
			+GUP+cwf54sIjnb3SpEGPAS7vbhlTmBLTlypw7e51i4=
			</data>
			<key>HostInfo</key>
			<data>
			Ggi2FKRc7KGamcjO0nrx1Sw6ZVJfivmQHxd8BJGUjZE=
			</data>
		</dict>
		<key>XBrowser 2</key>
		<dict>
			<key>Bookmark</key>
			<data>
			fWDziAn1HFAhIoWGi8/gxOkMGRgLXes244//7ttq0A0=
			</data>
			<key>BrowsingHistory</key>
			<data>
			QK9lcKGOBhKC57QuX1KgorjxUHpUOJg2kUJeZLn92E4=
			</data>
			<key>HostInfo</key>
			<data>
			Ggi2FKRc7KGamcjO0nrx1Sw6ZVJfivmQHxd8BJGUjZE=
			</data>
		</dict>
		<key>XBrowser 3</key>
		<dict>
			<key>Bookmark</key>
			<data>
			ps/3n/QDcjEUxYwD+QsE3PINBh6zo6Z/zcogdZaehoE=
			</data>
			<key>BrowsingHistory</key>
			<data>
			QK9lcKGOBhKC57QuX1KgorjxUHpUOJg2kUJeZLn92E4=
			</data>
			<key>HostInfo</key>
			<data>
			Ggi2FKRc7KGamcjO0nrx1Sw6ZVJfivmQHxd8BJGUjZE=
			</data>
		</dict>
		<key>XBrowser 4</key>
		<dict>
			<key>Bookmark</key>
			<data>
			H9i3YokJ0jypZ6xWX7Z+BrLCfmI6ePPUGQMr9gYxNfM=
			</data>
			<key>BrowsingHistory</key>
			<data>
			QK9lcKGOBhKC57QuX1KgorjxUHpUOJg2kUJeZLn92E4=
			</data>
			<key>HostInfo</key>
			<data>
			Ggi2FKRc7KGamcjO0nrx1Sw6ZVJfivmQHxd8BJGUjZE=
			</data>
		</dict>
		<key>XBrowser 5</key>
		<dict>
			<key>Bookmark</key>
			<data>
			xsu+VFM0taJpe2wIF/qsVpoEprIYstnzmDjEpatXVNk=
			</data>
			<key>BrowsingHistory</key>
			<data>
			QK9lcKGOBhKC57QuX1KgorjxUHpUOJg2kUJeZLn92E4=
			</data>
			<key>HostInfo</key>
			<data>
			Ggi2FKRc7KGamcjO0nrx1Sw6ZVJfivmQHxd8BJGUjZE=
			</data>
		</dict>
		<key>XBrowser 6</key>
		<dict>
			<key>Bookmark</key>
			<data>
			xsu+VFM0taJpe2wIF/qsVpoEprIYstnzmDjEpatXVNk=
			</data>
			<key>BrowsingHistory</key>
			<data>
			B4FPCw7hm9hygYYyUelBqRQvT69UjEpSYk9BUx7EpyU=
			</data>
			<key>HostInfo</key>
			<data>
			Ggi2FKRc7KGamcjO0nrx1Sw6ZVJfivmQHxd8BJGUjZE=
			</data>
		</dict>
	</dict>
</dict>
</plist>
